form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  label{
    padding-bottom: 10px;
  }
  .invalid{
    font-size: 12px;
    color: red;
  }

  [type=submit] {
    margin: 20px 20px 0 0;
    background-color: #95bd41;
    border: 1px solid #749138;
    color: #fff;
    padding: 8px 19px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #608216;
    }
  }

  [type=button] {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #82acc4;
    color: #5c93b2;
    padding: 8px 19px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: rgb(182, 218, 241);
    }
  }
}

@media screen and (max-width:450px) {
  .company-settings-container {
    form {
      padding: 15px;
      label {
        font-size: 11px;

        input {
          height: 25px;
          font-size: 12px;
        }
      }

      [type=submit],
      [type=button] {
        padding: 6px ;
        font-size: 12px;
      }
    }
  }
}
