<div class="main-cabinet-container" (window:resize)="resizeWidth($event)">
  <header>
    <div class="logo-icon">
      <img src="/assets/icons/logo-tfs-white.svg" alt="">
    </div>
    <div class="header-buttons-container">
      <div class="header-button" [routerLink]="[ '/cabinet/user-actions' ]">Ваші пропозиції
      </div>
      <div class="header-button" [routerLink]="[ '/cabinet/exchange'  ]">Біржа</div>
      <div class="header-button" [routerLink]="[ '/cabinet/messages' ]">повідомлення</div>
      <div class="header-button user-panel-button" [routerLink]="[ '/cabinet/info' ]">Панель
        користувача</div>
    </div>
    <div class="burger-buttons-container" [ngStyle]="{'display' :  menuOpen  }">
      <div class="header-button" (click)="menuOpen = 'none' ; burgerStatus = true"
        [routerLink]="[ '/cabinet/user-actions' ]">Ваші пропозиції
      </div>
      <div class="header-button" (click)="menuOpen = 'none' ; burgerStatus = true"
        [routerLink]="[ '/cabinet/exchange'  ]">Біржа</div>
      <div class="header-button" (click)="menuOpen = 'none' ; burgerStatus = true"
        [routerLink]="[ '/cabinet/messages' ]">повідомлення</div>
      <div class="header-button user-panel-button" (click)="menuOpen = 'none' ; burgerStatus = true"
        [routerLink]="[ '/cabinet/info' ]">Панель
        користувача</div>
    </div>
    <div class="burger-icon" (click)="openMenu()"></div>
  </header>
  <router-outlet></router-outlet>
</div>
