<div class="main-cabinet-container">
  <header>
    <div class="logo-icon">
      <img src="/assets/icons/logo-tfs-white.svg" alt="">
    </div>
    <div class="header-buttons-container">
      <div class="header-button" [routerLink]="[ '/cabinet/user-actions' ]">Ваші пропозиції</div>
      <div class="header-button" [routerLink]="[ '/cabinet/consignor-exchange'  ]">Біржа</div>
      <div class="header-button" [routerLink]="[ '/cabinet/messages' ]">повідомлення</div>
      <div class="header-button user-panel-button" [routerLink]="[ '/cabinet/info' ]">Панель користувача</div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>


