<app-header></app-header>
<div class="top-container"></div>
<div class="bot-container">
  <span class="exchange-included">Включає нову інтегровану біржу</span>
  <h1 class="title">Пропозиції вантажів від постійних та нових партнерів</h1>
  <p class="note">Новий Trans for Carriers (TfC) – все в одному інструменті,<br>
    немає е-mail або смс-повідомлень, легкий, швидкий та зручний.</p>
</div>
<div class="register-container">
  <div class="title-container">
    <div class="title">
      <strong>Зареєструйтесь</strong>&nbsp; i розпочніть роботу </div>
    <div class="button"  [routerLink]="[ '/register']">
      <span>Реєстрація</span>
    </div>
  </div>
</div>
<app-footer></app-footer>
