.top-container {
  width: 100%;
  min-height: 70vh;
  background: transparent url(/assets/images/hero-carriers.jpg) 25% 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.75rem solid #149fe0;
}

.bot-container {
  background: #033857;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}

.bot-container .exchange-included {
  background-color: #149fe0;
  padding: 0.625rem 3.125rem;
}

.bot-container .title {
  font-size: 275%;
  font-weight: 900;
}

.bot-container .note {
  text-align: center;
  font-size: 125%;
  font-weight: 300;
}

.register-container {
  height: 200px;
  background-color: #149fe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.register-container .title-container {
  width: 70%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-container .title-container .title {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 175%;
  font-weight: 300;
}

.register-container .title-container .title strong {
  font-weight: 700;
}

.register-container .title-container .button {
  cursor: pointer;
  width: 50%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-container .title-container .button span {
  color: #fff;
  font-size: 175%;
  font-weight: 800;
  border: 2px solid #fff;
  padding: 1.25rem 4.25rem;
}

@media screen and (max-width: 1400px) {
  .bot-container .title {
    font-size: 200%;
  }
  .register-container .title-container .title {
    font-size: 150%;
  }
  .register-container .title-container .button span {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 1196px) {
  .bot-container .title {
    font-size: 135%;
  }
  .bot-container .note {
    padding: 0 20px;
    text-align: center;
  }
  .register-container .title-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .register-container .title-container .title {
    width: 60%;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 130%;
  }
  .register-container .title-container .button {
    width: 30%;
  }
  .register-container .title-container .button span {
    font-size: 150%;
  }
}

@media screen and (max-width: 768px) {
  .bot-container .exchange-included {
    font-size: 12px;
  }
  .bot-container .title {
    padding: 0 20px;
    text-align: center;
    font-size: 120%;
  }
  .bot-container .note {
    font-size: 100%;
  }
}

@media screen and (max-width: 576px) {
  .register-container .title-container {
    width: 90%;
  }
  .register-container .title-container .title {
    font-size: 110%;
  }
  .register-container .title-container .button span {
    font-size: 110%;
  }
}

@media screen and (max-width: 480px) {
  .register-container .title-container .title {
    font-size: 95%;
  }
  .register-container .title-container .button span {
    font-size: 95%;
  }
}
/*# sourceMappingURL=trucker.component.css.map */