<div class="login-container" style=" background: transparent url(./assets/images/register-background.jpg) top center no-repeat;background-size: cover">
  <div class="content">
    <div class="logo-container" [routerLink]="[ '/' ]">
      <img class="logo" src="./assets/icons/logo-tfx-white.svg">
    </div>
    <div class="title">
      <p>Вітаємо на логістичній Платформі Trans.eu</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-container">
        <label  for="email">email
          <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.email.errors }" formControlName="email" type="email" placeholder="email" id="email">
        </label>
      </div>
      <div class="input-container">
        <label for="fhoneNumber">Номер телефону
          <input maxlength="15" mask="(000)-000-00-00" class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.phoneNumber.errors }" type="string" placeholder="phone number" formControlName="phoneNumber" id="fhoneNumber">
        </label>
      </div>
      <div class="input-container">
        <label for="password">Пароль
          <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.password.errors }" formControlName="password" type="password" placeholder="password" id="password">
        </label>
      </div>
      <button type="submit">Зареєструватися</button>
    </form>
  </div>
  <footer>
    <span>Відділ підтримки Клієнтів: </span><span> 032 247 04 07</span>
  </footer>
</div>
