<footer>
  <div class="first-container">
    <p class="copy-info">© Copyright Trans.eu 2010-2021, ТОВ ТРАНС.ЄУ УКРАЇНА</p>
    <p class="note">Надсилання форми означає Вашу згоду на обробку вказаних у реєстраційній формі персональних даних
      Адміністратором (Trans.eu, ul. Racławicka 2-4, 53-146 Wrocław, вул. Хаброва 4, 53-146 Висока), а також його
      бізнес-партнерами в маркетингових цілях, зокрема, на отримання електронним шляхом комерційної інформації згідно з
      Політикою конфіденційності.</p>
    <div class="links"><a href="https://www.trans.eu/ua/regulations/" rel="nofollow">РЕГЛАМЕНТ</a> | <a
        href="https://www.trans.eu/ua/licencija/" rel="nofollow">ЛІЦЕНЗІЯ</a> | <a
        href="https://www.trans.eu/ua/certificate-iso-27001/" target="_blank" rel="nofollow noopener">CERTIFICATE ISO
        27001</a> | <a href="https://www.trans.eu/ua/polityka-konfidentsiynosti/" target="_blank"
        rel="nofollow noopener">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a> |</div>
  </div>
  <div class="contact-container">
    <div class="second-container">
      <p class="title">Інформаційна лінія</p>
      <p>+38 (032) 247 0407</p>
    </div>
    <div class="third-container">
      <p class="title">Спільнота</p>
      <ul>
        <li><a class="fb" href="https://www.facebook.com/transeu.ukraine/" target="_blank" rel="nofollow noopener" style="background: transparent url(./assets/icons/ico-facebook.svg) 50% 50% no-repeat">fb</a>
        </li>
        <li><a class="lnkdin" href="https://www.linkedin.com/company/380742" target="_blank" style="background: transparent url(./assets/icons/ico-linkedin.svg) 50% 50% no-repeat"
            rel="nofollow noopener">lnkdin</a></li>
      </ul>
    </div>
  </div>
</footer>
