<div class="container-main" >
  <div class="title-container">
    <b>Додати пропозицію</b>
  </div>
  <div class="buttons-container">
    <div class="button" [routerLink]="[ '/cabinet/user-actions', path[0] ]">
      <span>Додати</span>
    </div>
    <div class="button" [routerLink]="[ '/cabinet/user-actions', path[1] ]">
      <span>Активні</span>
    </div>
    <div class="button" [routerLink]="[ '/cabinet/user-actions',path[2] ]">
      <span>Архів</span>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>