<div class="title-container">
  <b>Додати пропозицію</b>
</div>
<div class="container-main" *ngIf="checkSettings">
  <div class="buttons-container">
    <div class="button" [routerLink]="[ '/cabinet/user-actions/create-offers' ]" routerLinkActive="active">
      <span>Додати</span>
    </div>
    <div class="button" [routerLink]="[ '/cabinet/user-actions/active-offers' ]" routerLinkActive="active" >
      <span>Активні</span>
    </div>
    <div class="button" [routerLink]="[ '/cabinet/user-actions/archive-offers' ]" routerLinkActive="active">
      <span>Архів</span>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<app-check-settings *ngIf="!checkSettings">Поки ще немає пропозицій</app-check-settings>
