<div class="header-container">
  <header >
        <div class="logo-container" [routerLink]="[ '/' ]">
            <img class="logo" src="/assets/icons/logo-tfx-white.svg" >
        </div>
        
        <form class="buttons-container">
            <button type="button" class="login" [routerLink]="[ '/login' ]" >login</button>
            <button type="button" class="registrer" [routerLink]="[ '/register' ]" >registrer</button>
            <button type="button" class="kontakty" [routerLink]="[ '/contacts' ]" >kontakty</button>
            <button type="button" class="Help" [routerLink]="[ '/help' ]">Help</button>
        </form>
        <div class="burger">
            <img  class="burger-icon" src="/assets/icons/burger_line_list_menu_nav_navigation_option_icon_123231.svg" alt="">
        </div>

  </header>
</div>
