<div class="header-container" (scroll)="scrolling($event)"  >
  <header [ngClass]="{'header-background': scroll}">
        <div class="logo-container" [routerLink]="[ '/' ]">
            <img class="logo" src="/assets/icons/logo-tfx-white.svg" >
        </div>
        <div class="container-main" [ngStyle]="{'display' :  menuOpen  }">
          <form class="buttons-container">
              <button type="button" class="button" [routerLink]="[ '/login' ]" >Увійти</button>
              <button type="button" class="button register" [routerLink]="[ '/register' ]" >Реєстрація</button>
              <button type="button" class="button" [routerLink]="[ '/contacts' ]" >Контакти</button>
              <button type="button" class="button" [routerLink]="[ '/help' ]">Допомога</button>
          </form>
        </div>
        <div class="burger-icon" (click)="openMenu()"> 

         
        </div>
  </header>
</div>
