<div class="container-main">
  <form [formGroup]="offerForm" (ngSubmit)="saveOffer()">
    <div class="block-container">
      <div class="title">
        <span>Місце завантаження</span>
      </div>
      <label for="">Країна
        <input formControlName="loadingCountry" class="form-control" type="text">
      </label>
      <label for="">Місто
        <input formControlName="loadingCity" for class="form-control" type="text">
      </label>
      <label for="">Вулиця
        <input formControlName="loadingStreet" class="form-control" type="text">
      </label>
      <label for="">Дата та час
        <input formControlName="loadingDate" class="form-control" type="date">
        <input formControlName="loadingTime" class="form-control" type="time">
      </label>
    </div>
    <div class="block-container">
      <div class="title">
        <span>Місце розвантаження</span>
      </div>
      <label for="">Країна
        <input  ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
        formControlName="unloadingCountry" class="form-control" type="text">
      </label>
      <label for="">Місто
        <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="unloadingCity" class="form-control" type="text">
      </label>
      <label for="">Вулиця
        <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="unloadingStreet" class="form-control" type="text">
      </label>
      <label for="">Дата та час
        <input  formControlName="unloadingDate" class="form-control" type="date">
        <input formControlName="uploadingTime" class="form-control" type="time">
      </label>
    </div>
    <div class="block-container other-info">
      <div class="title">
        <span>Інша інформація</span>
      </div>
      <label for="">
        <select formControlName="car"  name="" id="" class="car">
          <option 
          *ngFor="let car of carList"
           [ngValue]="car">{{ carList.length > 0 ? car.mark : 'ви не додали жодного автомобіля ' }}</option>
        </select>
      </label>
      <label for="" > Ціна
            <input formControlName="price" class="form-control" type="text">
      </label>
    </div>
    <button type="submit">Зберегти</button>
  </form>
</div>

