<div class="container-main" >
    <div class="title-container">
      <b>Сповіщення</b>
    </div>
    <div class="buttons-container">
      <div class="button" [routerLink]="[ '/cabinet/messages/your-notifications' ]">
        <span>Заявки</span>
      </div>
      <div class="button" [routerLink]="[ '/cabinet/messages/others-notifications']">
        <span>Відповіді</span>
      </div>
      <div class="button" [routerLink]="[ '/cabinet/messages/archive-notifications']">
        <span>Архів виконаних</span>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>