.table-container {
  table {
    margin-top: 20px;
    width: 100%;

    thead {
      border-bottom: 2px solid;

      th {
        text-align: center;
        vertical-align: middle;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid;
        margin-right: 20px;

        .class-container {
          height: 100%;

          p {
            margin: 3px;
          }

          .place {
            font-size: 16px;
            font-weight: 500;
          }
        }

        td {
          text-align: center;
          padding-top: 10px;

          .archive-button {
            background-color: #95bd41;
            border: 1px solid #749138;
            color: #fff;
            padding: 8px 19px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
              background-color: #608216;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 960px) {

  
}

@media screen and (max-width : 800px) {
  .table-container{
    table{
      thead{
        font-size: 10px;
      }
      tbody{
        tr{
          .class-container{
            .place {
              font-size: 10px;
            }
          }
          td{
            .archive-button{
              padding: 7px 2px;
            }
          }
        }
      }
    }
  }
  
}
