<ng-container *ngIf="pageReady">
  <ng-container *ngIf="user.role == 'consignor' && !isEmpty">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>
              <span>
                Місце завантаження
              </span>
            </th>
            <th>
              <span>
                Місце розвантаження
              </span>
            </th>
            <th>
              <span>
                Товар
              </span>
            </th>
            <th>
              <span>
                Вага
              </span>
            </th>
            <th>
              <span>
                Ціна
              </span>
            </th>
            <th>
              <span>
                Розміщено
              </span>
            </th>
            <th>
              <span>
                Статус
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of activeConsignorOffersList ;let i = index">
            <td class="class-container">
              <p class="place">{{offer.loadingCountry}}{{offer.loadingCity}}</p>
              <p class="place">{{offer.loadingDate}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{offer.unloadingCountry}}{{offer.unloadingCity}}</p>
              <p class="place">{{offer.unloadingDate}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.cargo}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.weight}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{offer.price}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.date.toDate()	| date: 'short'}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.status == 'generated' ? 'Очікує на замовлення' : 'В роботі' }}</p>
            </td>
            <td class="class-container">
              <button class="archive-button"
                (click)="offer.status == 'generated' ? generated() : confirmArchive(offer.id,offer.notifitaionId)">
                Виконано
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
  <ng-container *ngIf="user.role == 'trucker' && !isEmpty">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>
              <span>
                Місце завантаження
              </span>
            </th>
            <th>
              <span>
                Місце розвантаження
              </span>
            </th>
            <th>
              <span>
                Автомобіль
              </span>
            </th>
            <th>
              <span>
                Ціна
              </span>
            </th>
            <th>
              <span>
                Розміщено
              </span>
            </th>
            <th>
              <span>
                Статус
              </span>
            </th>
            <th>
              <span>
                Архівувати
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of activeTruckerOffersList ;let i = index">
            <td class="class-container">
              <p class="place">{{offer.loadingCountry}} {{offer.loadingCity}}</p>
              <p class="place">{{offer.loadingDate}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{offer.unloadingCountry}} {{offer.unloadingCity}}</p>
              <p class="place">{{offer.unloadingDate}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.car.mark }}  {{ offer.car.model }}</p>
            </td>
            <td class="class-container">
              <p class="place">{{offer.price}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.date.toDate()	| date: 'short'}}</p>
            </td>
            <td class="class-container">
              <p class="place">{{ offer.status == 'generated' ? 'Очікує на замовлення' : 'В роботі' }}</p>
            </td>
            <td class="class-container">
              <button class="archive-button"
                (click)="offer.status == 'generated' ? generated() : confirmArchive(offer.id,offer.notifitaionId)">
                Виконано
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <app-confirmation *ngIf="archiveCard" (action)="addToArchive()" (closeActionCard)="this.archiveCard = false">
    <span title>Підтвердіть архівацію</span>
    <span button>Архівувати</span>
  </app-confirmation>
  <app-empty-page *ngIf="isEmpty">Поки ще немає ваших пропозицій</app-empty-page>
</ng-container>
<app-load-page *ngIf="!pageReady"></app-load-page>

