<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>
          <span>
            Місце завантаження
          </span>
        </th>
        <th>
          <span>
            Місце розвантаження
          </span>
        </th>
        <th>
          <span>
            Автомобіль
          </span>
        </th>
        <th>
          <span>
            Ціна
          </span>
        </th>
        <th>
          <span>
            Розміщено
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of activeOffersList ;let i = index">
        <td class="class-container">
          <p class="place">{{offer.loadingCountry}}{{offer.loadingCity}}</p>
          <p>{{offer.loadingDate}}</p>
        </td>
        <td class="class-container">
          <p class="place">{{offer.unloadingCountry}}{{offer.unloadingCity}}</p>
          <p >{{offer.unloadingDate}}</p>
        </td>
        <td class="class-container">
          <p class="place">{{ offer.car.mark }}{{ offer.car.model }}</p>
        </td>
        <td class="class-container">
          <p class="place">{{offer.price}}</p>
        </td>
        <td class="class-container">
          <p class="place">{{ offer.date.toDate()	| date: 'short'}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
