<div class="table-settings">
    <div class="find-count">
      <span></span>
    </div>
    <div class="table-view">
      <span>компактний вид</span>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>
            <span>
              Місце завантаження
            </span>
          </th>
          <th>
            <span>
              Місце розвантаження
            </span>
          </th>
          <th>
            <span>
              Інформація про вантаж
            </span>
          </th>
          <th>
            <span>
              Ціна
            </span>
          </th>
          <th>
            <span>
              Розміщено
            </span>
          </th>
          <th>
            <span>
              Замовник
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="country"></span>
            <span class="city"></span>
            <span class="data"></span>
            <span class="time"></span>
          </td>
          <td>
            <span class="country"></span>
            <span class="city"></span>
            <span class="data"></span>
            <span class="time"></span>
          </td>
          <td>
              <span class="weight"></span>
              <span class="vehicles-type"></span>
          </td>
          <td>
              <span class="price"></span>
          </td>
          <td>
            <span class="data"></span>
          </td>
          <td>
              <span class="name"></span>
              <span class="phone-number"></span>
              <span class="email"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
