.table-container {
  table {
    margin-top: 20px;
    width: 100%;

    thead {
      border-bottom: 2px solid;

      th {
        text-align: center;
        vertical-align: middle;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid;

        .class-container {
          height: 100%;

          p {
            margin: 3px;
          }

          .place {
            font-size: 16px;
            font-weight: 500;
          }
        }

        td {
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width:650px) {
  .table-container {
    table {
      thead {
        tr {
          font-size: 12px;
        }
      }

      tbody {
        tr {
          .class-container {
            .place {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:390px) {
  .table-container {
    table {
      thead {
        tr {
          font-size: 10px;
        }
      }

      tbody {
        tr {
          .class-container {
            .place {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
