<div class="choose-regiter-type-container">
  <div class="content">
    <div class="logo-container" [routerLink]="[ '/' ]">
      <img class="logo" src="/assets/icons/logo-tfx-white.svg">
    </div>
    <div class="title">
      <p>Вітаємо на логістичній Платформі Trans.eu</p>
    </div>
    <div class="buttons-container">
      <div class="button-container" (click)="chooseRole('trucker')" [routerLink]="[ '/user-register' ]">
        <span>Зареєструватися як перевізник</span>
      </div>
      <div class="button-container" (click)="chooseRole('consignor')" [routerLink]="[ '/user-register' ]">
        <span>Зареєструватися як товаровідправник</span>
      </div>
    </div>
  </div>
 <footer>
  <span>Відділ підтримки Клієнтів: </span><span> 032 247 04 07</span>
 </footer>
</div>
