.home-page-container {
  width: 100vw;
  height: 100vh;
  background: transparent url(/assets/images/hero-frontpage.png) top center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page-container .trucker-page,
.home-page-container .consignor-page {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #202e3d;
}

.home-page-container .trucker-page .trucker-button,
.home-page-container .consignor-page .trucker-button {
  border-color: #5fa70e;
}

.home-page-container .trucker-page .consignor-button,
.home-page-container .consignor-page .consignor-button {
  border-color: #149fe0;
}

.home-page-container .trucker-page .content,
.home-page-container .consignor-page .content {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page-container .button {
  cursor: pointer;
  width: 50%;
  font-size: 150%;
  color: white;
  position: relative;
  padding: .4375rem 6.25rem .4375rem 3.125rem;
  border: 2px solid white;
  display: inline-block;
  white-space: nowrap;
}

.home-page-container .button::after {
  right: 50px;
  -webkit-transition: right .5s ease-in;
  transition: right .5s ease-in;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  content: " ";
  width: 1.8125rem;
  height: 1.0625rem;
  background: transparent url(/assets/icons/white-arrow-right.png) top left no-repeat;
  background-size: cover;
}

.home-page-container .button:hover::after {
  right: 20px;
}

.home-page-container img {
  height: 50px;
}

@media screen and (max-width: 1770px) {
  .home-page-container .button {
    text-align: center;
    padding: 10px 0;
  }
  .home-page-container .button::after {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .home-page-container .button {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .home-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page-container .button {
    width: 50%;
  }
  .home-page-container .trucker-page,
  .home-page-container .consignor-page {
    height: 50%;
    width: 100%;
  }
  .home-page-container .consignor-page {
    border-top: 1px solid #202e3d;
  }
}

@media screen and (max-width: 670px) {
  .home-page-container .button {
    font-size: 120%;
  }
}

@media screen and (max-width: 520px) {
  .home-page-container img {
    height: 30px;
  }
  .home-page-container .button {
    width: 63%;
    font-size: 100%;
  }
}
/*# sourceMappingURL=home.component.css.map */