<div class="company-settings-container">
  <form [formGroup]="companySettingsForm" (ngSubmit)="saveData()">
    <label for="name">Назва компанії
      <input formControlName="name" id="name" type="text">
    </label>
    <label for="activity">Діяльність компанії
      <input formControlName="activity" id="activity" type="text">
    </label>
    <label for="country">Країна
      <input formControlName="country" id="country" type="text">
    </label>
    <label for="city">Місто
      <input formControlName="city" id="city" type="text">
    </label>
    <label for="street">вулиця
      <input formControlName="street" id="street" type="text">
    </label>
    <label for="IPN">ІПН
      <input formControlName="IPN" id="IPN" type="number">
    </label>
    <label for="EDRPOY">ЄДРПОУ
      <input formControlName="EDRPOY" id="EDRPOY" type="number">
    </label>
    <div class="profile-buttons">
      <button type="submit">Зберегти</button>
      <button type="button">Скасувати</button>
    </div>
  </form>
</div>
