<nav class="off-canvas position-right burger-menu-off-canvas is-transition-overlap" id="burgerMenu"
  data-off-canvas="" aria-hidden="false" data-e="zcjlnd-e">
  <span class="close" data-close="">×</span>
  <ul>
    <li><a href="/ru/">Главная страница</a></li>
  </ul>
  <hr>
  <ul>
    <li class="shippers"><a href="/ru/dlja-gruzovladelca/">Для грузовладельца</a>
    </li>
    <li class="forwarders"><a href="/ru/dlja-jekspeditora/">Для экспедитора</a>
    </li>
    <li class="carriers"><a href="/ru/dlja-perevozchika/">Для перевозчика</a>
    </li>
    <li><a href="/ru/partnerstvo/">partnerstvo</a>
    </li>
  </ul>
  <hr>
  <ul style="padding-top: 0">
    <li class="assistant"><a href="/ru/asistent/">Ассистент TRANS.EU</a></li>
  </ul>
  <hr>
  <ul>
    <li class="register">
      <div>Регистрация</div>
      <ul>
        <li class="register-new-company"><a href="https://register.trans.eu/?lang=ru"
            target="_blank"><span>Зареєструвати <br>перевізника</span></a></li>
        <li class="add-account-to-company"><a href="https://register.trans.eu/add-employee/?lang=ru"
            target="_blank"><span>Зареєструвати <br>товаровідправника</span></a></li>
      </ul>
    </li>
    <li><a  target="_blank">Увійти</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="/ru/kontakty/">Контакты</a>
    </li>
    <li><a href="/ru/blog/">Блог</a></li>
  </ul>
  <hr>

</nav>
