<div class="cars-settings-container" *ngIf="!isAddCar">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Марка</th>
        <th scope="col">Модель</th>
        <th class="year" scope="col">Рік випуску</th>
        <th class="type" scope="col">Тип Кузова</th>
        <th class="euro" scope="col">Євро стандарт</th>
        <th scope="col">Дії</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of carList;let i = index">
        <td style="font-weight: 700;" scope="row">{{ i + 1 }}</td>
        <td scope="col">{{ car.mark }}</td>
        <td scope="col">{{ car.model }}</td>
        <td class="year" scope="col">{{ car.year }}</td>
        <td class="type" scope="col">{{ car.type }}</td>
        <td class="euro" scope="col">{{ car.EURO }}</td>
        <td class="actions" scope="col">
          <button (click)="updateCar(car)" type="button" class="btn btn-warning">Редагувати</button>
          <button (click)="deleteCar(car.id)" type="button" class="btn btn-danger">Видалити</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="add-car" type="button" (click)="isAddCar = !isAddCar">Додати автомобіль</button>
</div>

<div class="container" *ngIf="isAddCar">
  <form [formGroup]="carSettingsForm" (ngSubmit)="editStatus ? saveCar() : addCar()">
    <label for="mark">Марка
      <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.mark.errors }"  formControlName="mark" id="mark" type="text">
    </label>
    <label for="model">Модель
      <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.model.errors }"  formControlName="model" id="model" type="text">
    </label>
    <label for="year">Рік випуску
      <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.year.errors }"  formControlName="year" id="year" type="text">
    </label>
    <label for="type">Тип автомобіля
      <select class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.type.errors }"   formControlName="type" id="type" placeholder="Виберіть тип">
        <option value="Напівпричіп Тент">Напівпричіп Тент</option>
        <option value="Рефрижератор">Рефрижератор</option>
        <option value="Ізотерм">Ізотерм</option>
        <option value="Автопоїзд">Автопоїзд</option>
        <option value="Контейнеровіз">Контейнеровіз</option>
        <option value="Відкритий бортовий">Відкритий бортовий</option>
        <option value="Автоцистерна">Автоцистерна</option>
        <option value="Автовоз">Автовоз</option>
        <option value="Зерновоз">Зерновоз</option>
        <option value="Самоскид">Самоскид</option>
        <option value="Лісовоз">Лісовоз</option>
        <option value="Газель">Газель тент</option>
        <option value="Бортова Газель">Бортова Газель</option>
      </select>
    </label>
    <label for="EURO">Євро стандарт
      <input class="form-control" [ngClass]="{ 'is-invalid': submited &&  validation.EURO.errors }"  formControlName="EURO" type="number" id="EURO">
    </label>
    <div class="crs-buttons">
      <button type="submit">{{ editStatus ? 'редагувати' : 'створити' }}</button>
      <button type="button" (click)="isAddCar = false">Скасувати</button>
    </div>
  </form>
</div>
