<app-header></app-header >
<div class="top-container" style="background: transparent url(./assets/images/hero-shippers2.jpg) 25% 0 no-repeat;background-size: cover">
  <div class="top-info">
    <h1 class="title">ПРОСТОТА УПРАВЛІННЯ<br>
      ТРАНСПОРТНОЮ<br>
      ЛОГІСТИКОЮ</h1>
    <h2 class="title"><small>Без email листів, таблиць в excel, дзвінків та смс!</small></h2>
    <span class="exchange-included">
      <header>Для малих та середніх вантажовідправників, виробників та торгових компаній.</header>
      <footer>
        Доступна корпоративна версія
      </footer>
    </span>
  </div>
</div>
<div class="bot-container">
  <p class="note"><strong>Trans for Shippers забезпечує доступ до найбільшої бази даних перевізників у Європі<br>
      і нової інтегрованої транспортної біржі.</strong><small>Доступ для вантажовідправника практично
      безкоштовний!<sup>*</sup></small></p>
</div>
<div class="register-container">
  <img src="./assets/icons/pisak.png" alt="">
  <p>Якщо Ви <strong>новий клієнт</strong></p>
  <div class="button">
    <a  [routerLink]="[ '/register']" class="more">РЕЄСТРУЙТЕ СВОЮ КОМПАНІЮ</a>
</div>

</div>
<app-footer></app-footer>
